@use 'styles/variables' as *;

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  color: $text-dark;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color $transition;

  &:hover {
    color: $secondary;
  }
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-h1-mobile;
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-h2-mobile;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-h3-mobile;
  }
}

p {
  font-size: $font-size-body;
  line-height: $line-height;
}
